In [1]:
 # Dependencies
import pandas as pd
import os

In [4]:
# Store filepath in a variable
zillow_data = "Zillow_Resources/Zillow_Data_2015.csv"

In [12]:
# Read the csv file
zillow_data_df = pd.read_csv(zillow_data)
zillow_data_df.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.0,2015,9.0,NaN,NaN,NaN,NaN
1,10759547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,27516.0,2015,27516.0,NaN,NaN,NaN,NaN
2,10843547,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,650756.0,1413387.0,2015,762631.0,20800.37,NaN,NaN,NaN
3,10859147,NaN,NaN,NaN,0.0,0.0,3.0,7.0,NaN,NaN,...,1.0,NaN,571346.0,1156834.0,2015,585488.0,14557.57,NaN,NaN,NaN
4,10879947,NaN,NaN,NaN,0.0,0.0,4.0,NaN,NaN,NaN,...,NaN,NaN,193796.0,433491.0,2015,239695.0,5725.17,NaN,NaN,NaN

In [23]:
# Create new DataFrame with select columns
updated_zillow_df = zillow_data_df[['calculatedfinishedsquarefeet', 'fips', 'yearbuilt', 'structuretaxvaluedollarcnt', 'assessmentyear']].copy()
updated_zillow_df.head()

,calculatedfinishedsquarefeet,fips,yearbuilt,structuretaxvaluedollarcnt,assessmentyear
0,NaN,6037,NaN,NaN,2015
1,NaN,6037,NaN,NaN,2015
2,73026.0,6037,NaN,650756.0,2015
3,5068.0,6037,1948.0,571346.0,2015
4,1776.0,6037,1947.0,193796.0,2015

In [26]:
updated_zillow_df.dropna(axis=0, how='any', inplace=True)
updated_zillow_df

,calculatedfinishedsquarefeet,fips,yearbuilt,structuretaxvaluedollarcnt,assessmentyear
3,5068.0,6037,1948.0,571346.0,2015
4,1776.0,6037,1947.0,193796.0,2015
5,2400.0,6037,1943.0,176383.0,2015
7,3611.0,6037,1946.0,101998.0,2015
9,3754.0,6037,1978.0,218440.0,2015
10,2470.0,6037,1958.0,245834.0,2015
17,2760.0,6037,1949.0,32654.0,2015
18,4000.0,6037,1956.0,56736.0,2015
19,3633.0,6037,2005.0,218982.0,2015
20,4053.0,6037,1957.0,197599.0,2015
22,1936.0,6037,1939.0,69879.0,2015
23,1606.0,6037,1926.0,41917.0,2015
24,2820.0,6037,1938.0,44959.0,2015
26,2865.0,6037,1972.0,267623.0,2015
27,6790.0,6037,1955.0,204800.0,2015
28,1090.0,6037,2004.0,229399.0,2015
29,1620.0,6037,2011.0,334432.0,2015
30,3170.0,6037,1955.0,309226.0,2015
31,2077.0,6037,1926.0,207035.0,2015
33,28667.0,6037,1958.0,13100000.0,2015
34,5610.0,6037,1929.0,33019.0,2015
35,2735.0,6037,2010.0,746203.0,2015
38,18629.0,6037,1949.0,581388.0,2015
39,1781.0,6037,1934.0,30775.0,2015
40,4320.0,6037,1925.0,51702.0,2015
42,1012.0,6037,1936.0,51230.0,2015
43,1931.0,6037,1957.0,122915.0,2015
47,2427.0,6037,1937.0,130000.0,2015
48,2718.0,6037,1962.0,226398.0,2015
50,3230.0,6037,1927.0,42184.0,2015
...,...,...,...,...,...
1048545,2042.0,6037,1915.0,199798.0,2015
1048546,1263.0,6037,1976.0,72134.0,2015
1048547,877.0,6037,1952.0,52525.0,2015
1048548,1399.0,6037,1952.0,109660.0,2015
1048549,1634.0,6037,1953.0,61740.0,2015
1048550,1640.0,6037,1953.0,146541.0,2015
1048551,1577.0,6037,1955.0,85555.0,2015
1048552,1134.0,6037,1951.0,87965.0,2015
1048553,979.0,6037,1947.0,63547.0,2015
1048554,1293.0,6037,1947.0,88845.0,2015
1048555,911.0,6037,1947.0,91594.0,2015
1048556,1912.0,6037,1947.0,134690.0,2015
1048557,1192.0,6037,1947.0,97337.0,2015
1048558,2556.0,6037,1949.0,296900.0,2015
1048559,1068.0,6037,1949.0,95000.0,2015
1048560,1844.0,6037,1949.0,108541.0,2015
1048561,858.0,6037,1949.0,26592.0,2015
1048562,1616.0,6037,1952.0,46421.0,2015
1048563,2538.0,6037,1954.0,156578.0,2015
1048564,1062.0,6037,1953.0,80285.0,2015
1048565,957.0,6037,1953.0,56891.0,2015
1048566,1556.0,6037,1952.0,125411.0,2015
1048567,1941.0,6037,1953.0,163773.0,2015
1048568,2475.0,6037,1954.0,227861.0,2015
1048569,1476.0,6037,1955.0,120204.0,2015
1048570,1668.0,6037,1954.0,109238.0,2015
1048571,1248.0,6037,1954.0,138332.0,2015
1048572,1314.0,6037,1952.0,58055.0,2015
1048573,1524.0,6037,1953.0,113000.0,2015
1048574,1420.0,6037,1953.0,103000.0,2015